@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input {
  @apply focus:outline-none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  @apply rounded-lg h-4 w-4 bg-gray-200 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply border-4 border-solid rounded-lg bg-gray-400 border-gray-200 hover:bg-gray-500 dark:border-gray-900 dark:bg-gray-700 dark:hover:bg-gray-600;
}
