@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input {
  @apply focus:outline-none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  @apply h-4 w-4 rounded-lg bg-gray-200 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg border-4 border-solid border-gray-200 bg-gray-400 hover:bg-gray-500 dark:border-gray-900 dark:bg-gray-700 dark:hover:bg-gray-600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
