.scoreboard {
  margin-top: 3rem;
  margin-bottom: 3rem;

  &.fluid {
    width: 95% !important;
  }

  .scoreboard-header {
    font-size: 2rem !important;
    margin-bottom: 3rem !important;
  }

  .scoreboard-body {
    margin: auto;

    .scoreboard-team-name {
      min-width: 15rem;
    }

    .scoreboard-score-column {
      width: 4rem;
    }
  }
}
